
<!-- Header Area -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<header class="header">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-12">
                    <ul class="top-contact">
                        <li><i class="fa fa-phone"></i>+880 1234 56789</li>
                        <li><i class="fa fa-envelope"></i><a th:href="@{mailto:support@yourmail.com}">support@yourmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->

    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="logo">
                            <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="Logo"></a>
                        </div>
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li class="active"><a th:href="@{/reception/reception-home}">Home</a></li>
                                    <li class="dropdown">
                                        <a href="#">Patients</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/reception/patient-registration}">New Registration</a></li>
                                            <li><a th:href="@{/reception/appointments}">View Appointments</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Appointments</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/reception/appointment/book}">Book Appointment</a></li>
                                            <li><a th:href="@{/reception/appointment/history}">View History</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Departments</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/reception/department-view}">View Departments</a></li>
                                            <li><a th:href="@{/reception/department-form}">Add Department</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blogs</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/blog-single}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit">Logout</button>
                                    </form>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="get-quote">
                            <a th:href="@{/appointment}" class="btn">Book Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
</th:block>
</html>
